beautifulsoup4
evaluate
pydantic>=2.0.0
pydantic_settings
pymongo
duden
torch
transformers
scikit-learn
python-crfsuite
pandas
numpy
seqeval
spacy<3.7.0
spacy_conll
tensorflow
tqdm
requests
matplotlib
scipy
seaborn